*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: linear-gradient(90deg  ,grey 50%, white );
}

/* single card */

.div_singlecard
{
    position: absolute;
    /* backdrop-filter: blur(80px); */
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 1;
}
.singlecardchild
{
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    padding: 40px;
    font-size: 40px;
    text-transform: capitalize;
}
.maincard
{
    display: flex;
    justify-content: center;
}
.bck
{
    font-size: 30px;
    font-weight: 30;
    letter-spacing: 5px;
    padding-left: 10px;
    cursor: pointer;
}

header
{
    display: block;
    margin-top: 20px;
}
header h1
{
    position: relative;
    font-size: 46px;
    padding-left: 90px;
    top: 15px;
    letter-spacing: 3px;

}
header h1 span
{
    color: white;
}
#additem
{
    cursor: pointer;
}
header i
{
    position: absolute;
    right: 5%;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    color: black;
}
header span
{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding-left: 10px;
    letter-spacing: -1px;
}
.card_container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card
{
    background-color: white;
    margin-bottom: 18px;
    min-width: 22%;
    min-height: 325px;
    display: flex;
    flex-direction: column;

}
.card a
{
    text-decoration: none;
    color: black;
}
.card h2
{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.779);
}
.ul
{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    cursor: pointer;
}
.markdone
{
    border-radius: 18px ;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
}
/* .button  i */
/* {
    /* width: 20px;
    font-size: x-large;
    padding: 5px 30px 0px 0px; */
/* } */ 
.imgcontainer
{
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 10px 0;
    gap: 5px;
    cursor: pointer;
}

/* blur add item */
#cardpop
{
    display: none;
    cursor: pointer;
}

.blur
{
    background-color: rgba(0, 0, 0, 0.422);
    backdrop-filter: blur(4px);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.card-f
{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.cardcontainer
{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 50px;
}
.cardcontainer p
{
    color: red;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;

}
.cardcontainer input
{
    width: 60%;
    height: 32px;
    border-radius: 5px;
    text-align: center;
}
#inp-additem::placeholder
{
    text-align: center;
    font-size: large;
}
.cardcontainer button
{
    border: 5px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    padding: 7px 0 20px 0;
    color: white;
    background-color: red;
    cursor: pointer;
}

/* popuplist */
#cardlist-pop
{
    display: none;
    cursor: pointer;
}

#nodisplay
{
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 60px;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.562);
}